**/node_modules
**/dist
**/.DS_Store
.devcontainer/dev.env
integration-tests/.auth
integration-tests/results

# Jest
coverage/
jest-junit.xml

# Yarn v4 (Berry)
.yarn/*
install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
